.hero-section {
    display: flex;
    align-items:start;
 width:90%;
 margin: 0 auto;
 position: fixed;
 right: 0;
 left: 0;
}
.hero-section .left {
    width: 60%;
    padding-top: 12rem;
}

.hero-section .left p.top {
    font-size: 14px;
    background: #F3EDE41A;
   display: flex;
   align-items: center;
   padding: 8px 20px;
   padding-left: 5px;
   margin-bottom: 10px;
   border-radius: 30px;
   color: #F3EDE4;
   font-weight: 400;
   gap: 7px;
}

.hero-section .left p.top span {
    font-size: 14px;
    background-color: #F3EDE4;
    padding: 6px 12px;

    border-radius: 30px;
    color: #181B20;

}

.hero-section .left h4 {
    padding-top: 10px;
    padding-bottom: 20px;
font-size: 80px;
width: 60%;
font-weight: 800;
line-height: 90px;

}

.hero-section .left p.text {
    width: 60%;
    color: #F3EDE4;
    line-height: 30px;
    font-size: 15px;

}
.hero-section .left .scanImg {
    padding-top: 20px;
    width: 25%;
    animation: slideUp 1.5s ease-out forwards 0.2s, pulse 1.5s infinite 2s;
}
.hero-section .right{
width: 40%;
}
.hero-section img {
    display: block;
    width: 100%;

    animation: scrollAnimation 1s linear infinite alternate;
}

.btn {
    display: flex;
    padding-top: 50px;
}
.hero-section a {
    background: #55DD4A;
    color: #181B20;
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 14px 20px;
    border: 1px solid #F3EDE4;
    border-radius: 30px;
    font-weight: 500;
    animation: pulse 1.5s infinite 2s;
}

@media (max-width:1000px) {
    .btn {
        justify-content: center;
    }
    .hero-section {
        padding: 20px;
        padding-bottom: 150px;
      text-align: center;
  
      width: 100%;
    }
    .hero-section .left{
width: 100%;
padding-top: 7rem;

    }

    .hero-section .left p.top {
       margin: 0 auto;
       margin-bottom: 20px;
    }
    .hero-section .left h4 {
        font-size: 50px;
        width: 90%;
        margin: 0 auto;
        line-height: 60px;

    }
    .hero-section .left p.text {
        width: 100%;
   
    }
    .hero-section .right {
        display: none;
    }

    .hero-section .left .scanImg{
  padding-top: 70px;
        width:70%;
    }
}