@import "tailwindcss";
body {
  background: transparent;
  font-family: Inter;
  color: white;
  margin: 0px;
  padding: 0px;
  font-size: 14px;
}

html {
  scroll-behavior: smooth;
}

/* hide scrollbar but keep scroll */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

@keyframes scrollEffect {
  0% {
    transform: translateX(5px);
  }
  100% {
    transform: translateX(-5px);
  }
}
@keyframes slideIn {
  from {
    transform: translateX(100%);
  }
  to {
    transform: translateX(0);
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes scrollAnimation {
  0% {
    transform: translateY(20px);
  }

  100% {
    transform: translateY(-20px);
  }
}
